include README.md
recursive-include OctoPrint-filamentstorageupdate/templates *
recursive-include OctoPrint-filamentstorageupdate/translations *
recursive-include OctoPrint-filamentstorageupdate/static *
