include README.md
recursive-include octoprint-filamentstorageupdate/templates *
recursive-include octoprint-filamentstorageupdate/translations *
recursive-include octoprint-filamentstorageupdate/static *
