include README.md
recursive-include OctoPrint-Filamentstorageupdate/templates *
recursive-include OctoPrint-Filamentstorageupdate/translations *
recursive-include OctoPrint-Filamentstorageupdate/static *
